<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Data Extractor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="bg-light">
    <div class="container py-5">

        {% set messages = get_flashed_messages(with_categories=true) %}

        {% macro render_flash(target_category, alert_class='info', timeout=2000) %}
            <div class="position-fixed bottom-0 start-50 translate-middle-x mb-4 z-3" style="min-width: 300px; max-width: 600px;" data-timeout="{{ timeout }}">
                {% for category, message in messages %}
                    {% if category == target_category %}
                    <div class="alert alert-{{ alert_class }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endmacro %}

        <h1 class="mb-4 text-center">PDF Data Extract & Search</h1>

        <div class="card mb-4">
            <div class="card-header">Upload PDF Files</div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="file" name="pdfs" accept="application/pdf" multiple required class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>

                {{ render_flash('upload', 'success') }}

            </div>
        </div>

         

        {% if preview %}
        <div id="preview-container">
            <div class="card mb-4 border-warning">
                <div class="card-header bg-warning text-dark fw-bold">
                    {{ preview.filename }}
                </div>
                <form id="preview-form" action="/update_preview" method="post" onsubmit="return updatePreview(event)">
                    <div class="scroll-box" style="max-height: 300px; overflow-y: auto;">
                        {% for unit in preview.units %}
                            {% set unit_index = loop.index0 %}
                            <div class="card mb-3 border-secondary">
                                <div class="card-header bg-secondary text-white">
                                    Unit {{ loop.index }}
                                </div>
                                <div class="card-body p-0">
                                    <table class="table table-bordered table-sm mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th style="width: 30%;">Field</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, value in unit.items() %}
                                                <tr>
                                                    <td><label for="unit-{{ unit_index }}-{{ key }}">{{ key }}</label></td>
                                                    <td>
                                                        <input type="text"
                                                            class="form-control"
                                                            id="unit-{{ unit_index }}-{{ key }}"
                                                            name="units[{{ unit_index }}][{{ key }}]"
                                                            value="{{ value }}">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="p-2">
                        {{ render_flash('update', 'info') }}
                        {{ render_flash('insert', 'success') }}
                        {{ render_flash('danger', 'danger') }}
                        {{ render_flash('warning', 'warning') }}
                    </div>

                    <hr>
                    <h5 class="text-center mt-4 mb-3"><u>Add New Unit</u></h5>
                    <div id="unit-fields" class="mt-3 "></div>
                    <div class="d-flex justify-content-flex gap-3 mt-2" style="max-width: 250px; margin: auto;">
                        <button type="button" class="btn btn-secondary w-50" onclick="addUnitField()">Add Field</button>

                        <input type="hidden" name="new_unit_fields" id="new_unit_fields_json">
                        <button type="submit" class="btn btn-primary w-50">Insert</button>
                    </div>
                </form>


                <form action="/push_to_original" method="post" class="mt-3">
                    <button type="submit" class="btn btn-success ms-2" style="float:right"><i class="bi bi-plus">Push</i></button>
                </form>
                
            </div>
        </div>
        {% else %}
            <h3>Upload a file!</h3>
        {% endif %}


        <br><br>

        <div class="p-2">
            {{ render_flash('info', 'info') }}
            {{ render_flash('success', 'success', 0) }}
            {{ render_flash('error', 'danger') }}
        </div>

        <div class="card mb-4">
            <div class="card-header">Search in PDFs</div>
            <div class="card-body">
                <form action="/search" method="get" class="row g-3">
                    <div class="col-md-5">
                        <input type="text" name="q" class="form-control" placeholder="Search by keyword...">
                    </div>
                    <div class="col-md-5">
                        <select name="filename" class="form-control">
                            <option value="" disabled selected> Search by File </option>
                            {% for fname in filenames %}
                                <option value="{{ fname }}" {% if fname == filename %}selected{% endif %}>{{ fname }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success w-100">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="text-center">
            <form action="/clear" method="post" onsubmit="return confirm('Are you sure you want to clear all data?');">
                <button type="submit" class="btn btn-danger"> Clear All Datas</button>
                 {{ render_flash('warning', 'danger') }}
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

<script>
function updatePreview(event) {
    event.preventDefault(); // Prevent full page refresh

    const form = document.getElementById('preview-form');
    const formData = new FormData(form);
    console.log("Data",form);

    fetch('/update_preview', {
        method: 'POST',
        body: formData
    })
    .then(response => response.text())
    .then(html => {
        document.getElementById('preview-container').innerHTML = html;
    })
    .catch(error => {
        console.error('Error updating preview:', error);
    });

    return false;
}

let newUnit = {};

    function addUnitField() {
        const container = document.getElementById("unit-fields");
        const index = Object.keys(newUnit).length;

        const div = document.createElement("div");
        div.className = "row mb-2";
        div.innerHTML = `
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Field name" onchange="updateNewUnit(${index}, this.value, 'key')">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Value" onchange="updateNewUnit(${index}, this.value, 'value')">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" onclick="removeField(this)">X</button>
            </div>
        `;
        container.appendChild(div);

        newUnit[index] = { key: '', value: '' };
    }

    function updateNewUnit(index, val, type) {
        if (!newUnit[index]) newUnit[index] = { key: '', value: '' };
        newUnit[index][type] = val;

        const cleaned = {};
        for (const entry of Object.values(newUnit)) {
            if (entry.key && entry.value) {
                cleaned[entry.key] = entry.value;
            }
        }

        document.getElementById("new_unit_fields_json").value = JSON.stringify(cleaned);
    }

    function removeField(btn) {
        const div = btn.parentElement.parentElement;
        div.remove();
        
    }

    function updatePreview(event) {
        
        return true;
    }


 document.querySelectorAll('[data-timeout]').forEach(wrapper => {
    const timeout = parseInt(wrapper.dataset.timeout);
    if (timeout > 0) {
      setTimeout(() => {
        const alert = wrapper.querySelector('.alert');
        if (alert) {
          alert.classList.remove('show');
          alert.classList.add('fade');
          setTimeout(() => alert.remove(), 300);
        }
      }, timeout);
    }
  });

/*setTimeout(function () {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(function (alert) {

      alert.classList.remove('show'); 
      alert.classList.add('fade');

      setTimeout(() => {
        alert.remove();
      }, 300); 
    });
  }, 2000); */
</script>

</html>